*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body {
    background-color:  rgb(130, 50, 130);
    color: rgb(235, 232, 232);
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding: 14px;
}

fieldset {
 width:100%;
  max-width:350px;
  margin:20px auto;
  padding:20px;
   height: auto;
   text-align: center;
   border-radius: 17px;
}
h1 {
    text-align: center;
}
.set-content {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.set-content input{
    border-radius: 22px;
    border: solid white;
    padding: 13px 40px 13px 15px;
    width: 70%;
    border: none;
    outline: none;
}
.set-content input::placeholder {
    color: black;
}

.set-content i {
    position: absolute;
    right: 55px;
    top: 40%;
    transform: translateY(-50%);
    color: black;
    font-size: 18px;
}
.line {
    display: flex;
    justify-content: space-around;
    margin: -30px 0 17px;
}
.line label input {
    accent-color: plum;
    margin-right: 6px;
    margin-bottom: 15px;
}
.line a {
    text-decoration: none;
    color: rgb(235, 232, 232);
}
.line a:hover {
    color: plum;
    text-decoration: underline;
}
.btn {
    text-align: center;
    border-radius: 22px;
    border: solid white;
    padding: 10px;
  width:100%;
  max-width:300px;
    height: 35px;
    border: none;
    outline: none;
    font-weight: 700;
    box-shadow: 0 0 4px;
    cursor: pointer;
}
.btn:hover {
    background-color: plum;
}
.register {
    text-align: center;
    margin: 10px 0 30px;
}
.register p a {
    text-decoration: none;
    font-weight: 700;
    color: rgb(235, 232, 232);
}
.register p a:hover {
    color: plum;
    text-decoration: underline;
}
@media (max-width:768px){

main{
  padding:10px;
}

fieldset{
  padding:15px;
}

h1{
  font-size:22px;
}

.line{
  flex-direction:column;
  align-items:center;
  gap:10px;
  margin:10px 0;
}

}
