body {
    background-color:  rgb(130, 50, 130);
    color: rgb(235, 232, 232);
}
/* header .imgside{
    width: 70px;
} */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding: 14px;
}

fieldset {
   margin: 3%;
   padding: 2px;
   /* width: 25%; */
   width: 350px;
   height: auto;
   text-align: center;
   border-radius: 17px;
}
h1 {
    text-align: center;
}
.set-content {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.set-content input{
    border-radius: 22px;
    border: solid white;
    padding: 13px 15px 13px 15px;
    width: 70%;
    /* width: 100%;
    height: 100%; */
    border: none;
    outline: none;
    /* border: 2px solid  rgb(130, 50, 130); */
    /* background: transparent; */

}
.set-content input::placeholder {
    color: black;
}

.set-content i {
    position: absolute;
    right: 55px;
    top: 40%;
    transform: translateY(-50%);
    color: black;
    font-size: 18px;
}
.line {
    display: flex;
    justify-content: space-around;
    margin: -30px 0 17px;
}
.line label input {
    accent-color: plum;
    margin-right: 6px;
    margin-bottom: 15px;
}
.line a {
    text-decoration: none;
    color: rgb(235, 232, 232);
}
.line a:hover {
    color: plum;
    text-decoration: underline;
}
.btn {
    text-align: center;
    border-radius: 22px;
    border: solid white;
    padding: 10px;
    width: 80%;
    /* width: 100%; */
    height: 35px;
    border: none;
    outline: none;
    font-weight: 700;
    box-shadow: 0 0 4px;
    cursor: pointer;
}
.btn:hover {
    background-color: plum;
}
.register {
    text-align: center;
    margin: 10px 0 30px;
}
.register p a {
    text-decoration: none;
    font-weight: 700;
    color: rgb(235, 232, 232);
}
.register p a:hover {
    color: plum;
    text-decoration: underline;
}
